#!/bin/sh
cd {{ base_path }}/{{ backup.scripts_path }}
. ~/.profile

export TXT_HOSTNAME=`hostname`
export TXT_MESSAGE="[$TXT_HOSTNAME] $*"

curl -H "Content-Type: application/json" -d "{ \"username\": \"PiBackup Bot\", \"content\": \"$TXT_MESSAGE\" }" $webhook_url